<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUj8vXsXcfwX3M1AG3izQf-EGSw4GM1QE</string>
	<key>GCM_SENDER_ID</key>
	<string>719827120020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseexercise.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>teacher-733b1</string>
	<key>STORAGE_BUCKET</key>
	<string>teacher-733b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719827120020:ios:658fa2fa32d51b19efe981</string>
</dict>
</plist>